body {
  margin: 0;
  padding: 30px;
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(circle at top, #1e2150, #0b0d2b);
  color: white;
}

.title {
  text-align: center;
  font-size: 34px;
  margin-bottom: 30px;
}

#chart-container {
  height: 90vh;
}

/* PERSON CARD */
.person {
  width: 160px;
  background: #fff;
  border-radius: 16px;
  padding: 14px 10px 10px;
  text-align: center;
  box-shadow: 0 12px 35px rgba(0,0,0,0.35);
  cursor: pointer;
  position: relative;
}

.person img {
  width: 48px;
  margin-bottom: 8px;
}

.person .name {
  font-weight: 600;
  font-size: 14px;
  color: #111827;
}

.person .role {
  font-size: 12px;
  color: #6b7280;
}

/* COLOR BAR */
.person::after {
  content: "";
  height: 6px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 0 16px 16px;
  background: var(--color);
}

/* CURVED LINKS */
.link path {
  stroke-width: 5px;
  fill: none;
  stroke-linecap: round;
}

.form-container {
  max-width: 420px;
  margin: 0 auto 30px;
  background: #111827;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.form-container h3 {
  margin-top: 0;
  text-align: center;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.form-container button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #22c55e;
  font-weight: bold;
  cursor: pointer;
}
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}
